
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <!-- 依 赖 样 式 -->
    <link rel="stylesheet" href="/libs/component/pear/css/pear.css" />
    <!-- 加 载 样 式-->
    <link rel="stylesheet" href="/libs/admin/css/load.css" />
    <!-- 布 局 样 式 -->
    <link rel="stylesheet" href="/libs/admin/css/admin.css" />
    <style>
        #test2 div, table {
            width: 100%;
        }

        .pear-card-status li {
            position: relative;
            padding: 10px 0;
            border-bottom: 1px solid #eee;
        }

            .pear-card-status li > span {
                color: #999;
            }

        .layui-status-img img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 15px;
        }

        .layuiadmin-card-status dd {
            padding: 12px 0;
            border-bottom: 1px solid #eee;
            display: flex;
            display: -webkit-flex;
        }

        .layuiadmin-card-status a {
            color: #01AAED;
        }

        #clock {
            font-family: 'Share Tech Mono', monospace;
            color: #ff6a00;
            color: #ff6a00;
        }

            #clock .time {
                letter-spacing: 0.05em;
                font-size: 20px;
                padding: 5px 0;
            }

            #clock .date {
                letter-spacing: 0.1em;
                font-size: 18px;
            }

        .layui-card-body {
            height: 300px;
        }
    </style>

</head>
<body class="pear-container">
    <div class="layadmin-tabsbody-item layui-show">
        <div class="layadmin-tabsbody-item layui-show">
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header"><h3>我的考勤</h3></div>
                            <div class="layui-card-body">
                                <div class="layui-row">
                                    <div class="layui-col-md4">
                                        <div class="pear-card2">
                                            <div class="=title"><h3>月份</h3></div>
                                            <div class="count pear-text" style="font-size:34px">@DateTime.Now.Month</div>
                                        </div>
                                        <div class="pear-card2" style="margin-top:10px">
                                            <div class="title"><h3>现在时间</h3></div>
                                            <div class="count">
                                                <script type="text/javascript" src="/libs/Vue/vue.min.js"></script>

                                                <div id="clock">
                                                    <p class="date">{{ date }}</p>
                                                    <p class="time">{{ time }}</p>
                                                </div>
                                            </div>
                                            <div class="=title"><h3>今日签到</h3></div>
                                            <div class="count">
                                                <div><span class="layui-icon layui-icon-light"></span>9:00</div>
                                                <div><span class="layui-icon layui-icon-time"></span>未打卡</div>
                                            </div>
                                            <button class="pear-btn pear-btn-success">打卡</button>
                                        </div>
                                    </div>
                                    <div class="layui-col-md8">
                                        <div id="container" style="height: 295px;width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header"><h3>日程表</h3></div>
                            <div class="layui-card-body">
                                <div class="layui-row">
                                    <div id="test2" style="width:100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header"><h3>我的便签</h3></div>
                            <div class="layui-card-body">
                                <ul class="pear-card-status">
                                    <li>
                                        <p>
                                            万般由我心

                                            举身如雁轻
                                        </p>
                                        <span>@DateTime.Now</span>
                                        <a href="#" data-id="1" class="pear-btn pear-btn-primary pear-btn-xs pear-reply">删除</a>
                                    </li>
                                    <li>
                                        <p>
                                            登临天池览明镜

                                            明镜如水难平波澜意
                                        </p>
                                        <span>@DateTime.Now</span>
                                        <a href="#" data-id="1" class="pear-btn pear-btn-primary pear-btn-xs pear-reply">删除</a>
                                    </li>
                                    <li>
                                        <p>
                                            踏扁舟一叶 逐野鹤 行广阔
                                        </p>
                                        <span>@DateTime.Now</span>
                                        <a href="#" data-id="1" class="pear-btn pear-btn-primary pear-btn-xs pear-reply">删除</a>
                                    </li>
                                    <li>
                                        <p>
                                            揽星斗旷野 邀四象 定风波
                                        </p>
                                        <span>@DateTime.Now</span>
                                        <a href="#" data-id="1" class="pear-btn pear-btn-primary pear-btn-xs pear-reply">删除</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header"><h3>公司通知</h3></div>
                            <div class="layui-card-body">

                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card">
                            <div class="layui-card-header"><h3>会议通知</h3></div>
                            <div class="layui-card-body">
                                <dl class="layuiadmin-card-status">
                                    <dd>
                                        <div class="layui-status-img">
                                            <img src="/libs/admin/images/avatar.jpg" alt="Alternate Text" />
                                        </div>
                                        <div>
                                            <p>张部长 在<a href="#">5楼会议室</a>进行 产品发布会会议</p>
                                            <span class="pear-text">今天下午3点</span>
                                        </div>
                                    </dd>
                                    <dd>
                                        <div class="layui-status-img">
                                            <img src="/libs/admin/images/avatar.jpg" alt="Alternate Text" />
                                        </div>
                                        <div>
                                            <p>张部长 在<a href="#">5楼会议室</a>进行 产品发布会会议</p>
                                            <span class="pear-text">今天下午3点</span>
                                        </div>
                                    </dd>
                                    <dd>
                                        <div class="layui-status-img">
                                            <img src="/libs/admin/images/avatar.jpg" alt="Alternate Text" />
                                        </div>
                                        <div>
                                            <p>张部长 在<a href="#">5楼会议室</a>进行 产品发布会会议</p>
                                            <span class="pear-text">今天下午3点</span>
                                        </div>
                                    </dd>
                                    <dd>
                                        <div class="layui-status-img">
                                            <img src="/libs/admin/images/avatar.jpg" alt="Alternate Text" />
                                        </div>
                                        <div>
                                            <p>张部长 在<a href="#">5楼会议室</a>进行 产品发布会会议</p>
                                            <span class="pear-text">今天下午3点</span>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="layui-card">
                            <div class="layui-card-header"><h3>最近文件</h3></div>
                            <div class="layui-card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/libs/component/layui/layui.js"></script>
    <script src="/libs/component/pear/pear.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts-nightly@5.1.2-dev.20210512/dist/echarts.min.js"></script>
    <script>
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};

        var option;
        option = {
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '0%',
                left: 'center'
            },
            series: [
                {
                    name: '考勤情况',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 20,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'left'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '14',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        { value: 5, name: '缺勤次数' },
                        { value: 2, name: '迟到天数' },
                        { value: 15, name: '实际打卡' },
                    ]
                }
            ]
        };

        if (option && typeof option === 'object') {
            myChart.setOption(option);
        }
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            laydate.render({
                elem: '#test2'
                , position: 'static'
                , showBottom: false
                , theme: 'molv'
                , calendar: true
                , mark: {
                    '0-10-14': '生日'
                    , '0-12-31': '跨年' //每年12月31日
                    , '0-0-10': '工资' //每个月10号
                    , '2017-8-15': '' //具体日期
                    , '2017-8-20': '预发' //如果为空字符，则默认显示数字+徽章
                    , '2017-8-21': '发布'
                }
                , done: function (value, date) {
                    if (date.year === 2017 && date.month === 8 && date.date === 15) { //点击2017年8月15日，弹出提示语
                        ins1.hint('中国人民抗日战争胜利72周年');
                    }
                }
                , change: function (value, date) { //监听日期被切换

                }
            });
        });
        var clock = new Vue({
            el: '#clock',
            data: {
                time: '',
                date: ''
            }
        });

        var week = ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
        var timerID = setInterval(updateTime, 1000);
        updateTime();
        function updateTime() {
            var cd = new Date();
            clock.time = zeroPadding(cd.getHours(), 2) + ':' + zeroPadding(cd.getMinutes(), 2) + ':' + zeroPadding(cd.getSeconds(), 2);
            clock.date = zeroPadding(cd.getMonth() + 1, 2) + '-' + zeroPadding(cd.getDate(), 2) + ' ' + week[cd.getDay()];
        };

        function zeroPadding(num, digit) {
            var zero = '';
            for (var i = 0; i < digit; i++) {
                zero += '0';
            }
            return (zero + num).slice(-digit);
        }
    </script>
</body>
</html>
